<h1 class="">Map</h1>

<div class="row">
    <a class="btn btn-success" href="/add-card">Add New Card</a>
</div>

<div class="col-md-5">
    <div id="mapbox" style='width: 600px; height: 300px;'></div>
</div>
<div>
    {{#each cards}}

        {{!-- {{>cardPartial this}} --}}

        {{!-- Card example without partial --}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{city}}</h5>
                {{#if date}}
                  <h6 class="card-subtitle mb-2 text-muted">date: <span>{{{date}}}</span></h6>
                {{/if}}
                <h6 class="card-subtitle mb-2 text-muted">{{userOwnerName}}</h6>
                <p class="card-text">{{recommendation}}</p>
                <a href="#" class="card-link btn btn-primary btn-sm">Edit Card</a>
                <form action="/user-cards/{{_id}}/delete" method="POST" class="mt-4">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </div>
        </div>
        {{!-- END Card example --}}
    {{/each}}
</div>