
<h1 class="">Hello {{user.username}}</h1>

<div class="container mt-4">
  <div class="row map-section">
    <div class="col-md-5">
        <div id="mapbox" style='width: 400px; height: 300px;'></div>
    </div>

    <div class="col-md-5">
        <h3 class=""><a href="/user-cards">General Map</a></h3>

        {{!-- PARTIAL START HERE --}}
        <div>
        {{#each cardByUser}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{city}}</h5>
                <h6 class="card-subtitle mb-2 text-muted small card-date">{{date}}</h6>
                <p class="card-text">{{recommendation}}</p>
                <div class="row justify-content-around">
                    <a href="/user-cards/{{_id}}/edit" class="card-link btn btn-primary btn-sm">Edit Card</a>
                    <form action="/user-cards/{{_id}}/delete" method="POST" class="mb-0">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <div class="card-footer bg-dark text-white">
                {{#if userOwnerName}}
                <h6 class="small mb-0">autor: {{userOwnerName}}</h6>
                {{/if}}
            </div>
        </div>
        {{/each}}
        </div>
        {{!-- END OF THE PARTIAL --}}
    </div>
  </div>
      <div class="row">
        <a class="btn btn-success" href="/add-card">Add New Card</a>
    </div>
</div>

<div class="row mb-3">
    <a class="btn btn-danger btn-sm" href="/auth/logout">Logout</a>
    <a class="btn btn-light btn-sm" href="#"><em>Favourite Users</em></a>
</div>
